
/* All css styling copied from chapter 11 snailbait for now -GC*/

body {
    /* Background from CSS3 Patterns Gallery by Anna Kassner */
 
    background-color: #999999;

 /* vVv Might want to change these to be a more fitting background pattern @Joseph vVv -GC */
/*    background-image: 
       -webkit-repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
       -webkit-repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
       -webkit-linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
       -webkit-linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
 
    background-image:
       repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
       repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
       linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
       linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
*/
    background-size: 70px 120px;
 }
 
 #arena {
    margin: 0 auto;
    width: 960px; /*width and height based on background-sprite's size but divided by 2*/
    height: 540px;
 }
 
 #game-canvas {
   width: 960px;
   height: 540px;
   background-image: url('images/background_sprite.png');
   background-repeat: no-repeat;
   position: relative;
   overflow: hidden;
   border: 10px solid black;
 }
  
 #fps {
    position: absolute;
    margin-top: -2em;
    z-index: 1;
    color: yellow;
    text-shadow: 1px 1px 1px rgb(0,0,80);
    font: bold 20px fantasy;
 
    -webkit-transition: opacity 5s;
    -moz-transition: opacity 5s;
    -o-transition: opacity 5s;
    transition: opacity 5s;
 
    opacity: 0;
    display: none;
    z-index: 1;
 }
 
 #toast {
    position: absolute;
    margin-left: 100px;
    margin-top: 20px;
    width: 600px;
    font: 40px fantasy;
    text-align: center;
    color: #ff6;
    text-shadow: 2px 2px 4px rgb(0,0,0);
 
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
 
    opacity: 0;
    display: none;
    z-index: 1;
 }
 
 #instructions {
    margin-left: 155px;
    padding-left: 5px;
    padding-top: 10px;
    height: 2em;
 
    color: #ff0;
    font-size: 0.95em;
 
    -webkit-transition: opacity 5s;
    -moz-transition: opacity 5s;
    -o-transition: opacity 5s;
    transition: opacity 5s;
 
    display: none;
    opacity: 0;
 }
 
 #copyright {
    float: right;
    margin-right: 2px;
    margin-top: -2.3em;
    padding: 2px;
    color: blue;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    font-size: 0.85em;
 
    -webkit-transition: opacity 5s;
    -moz-transition: opacity 5s;
    -o-transition: opacity 5s;
    transition: opacity 5s;
 
    display: none;
    opacity: 0;
 }
 
 .checkbox-div {
    display: inline;
    text-shadow: 1px 1px 1px blue;
 }